# Only keep compiled output in npm package
src/
nodes/
test/
tests/
*.test.ts
*.spec.ts

# Config & build files
tsconfig.json
eslint.config.js
.prettierrc
.prettierignore
.eslintcache
.eslintrc.*
.vscode/
.idea/
.github/
Dockerfile
docker-compose*
*.log
npm-debug.log*

# Environment / local dev
.env
.env.*
*.local

# Docs & misc
README_DEV.md
*.md~
*.bak
*.tmp
